extends ../layout/index
block contenido
  main.container.mt-5
      .row
        .col-md-5
          img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
        .col-md-7
          h1 #{pagina}
          blockquote Quisque et purus et dolor facilisis pharetra. Curabitur tincidunt libero elit, at auctor arcu lobortis vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ut mauris a lacus mattis tempus.
          p Ut molestie magna ac leo tempus molestie. Sed in laoreet quam, in ultrices tellus. Nunc efficitur aliquam ante, eget blandit mi consequat sed. Morbi non tincidunt metus. Donec ornare elit sed mauris molestie faucibus. Integer molestie elit a ultricies vestibulum. Donec sit amet sodales diam. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus.
          p Donec ornare elit sed mauris molestie faucibus. Integer molestie elit a ultricies vestibulum. Donec sit amet sodales diam. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus.
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Donec ornare elit sed mauris molestie faucibus. Integer molestie elit a ultricies vestibulum.
        .col-md-4
          img(src="img/icono_destinos.svg", class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos
          p Donec ornare elit sed mauris molestie faucibus. Integer molestie elit a ultricies vestibulum.
        .col-md-4
          img(src="img/icono_precios.svg", class="img-fluid mb-4")
          h2.mb-4 Mejor Precio
          p Donec ornare elit sed mauris molestie faucibus. Integer molestie elit a ultricies vestibulum.
